@import '../../variables.scss';

.programs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;

  .programCategories {
    display: flex;
    gap: 1rem;

    .category {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: space-between;
      padding: 2rem;
      color: white;
      background-color: gray;

      &:hover {
        background: $planCard;
        cursor: pointer;
      }

      & > :nth-child(1) {
        width: 2rem;
        height: 2rem;
        fill: white;
      }

      & > :nth-child(2) {
        font-weight: bold;
        font-size: 1rem;
      }

      & > :nth-child(3) {
        font-size: 0.9rem;
        line-height: 25px;
      }

      .joinNow {
        display: flex;
        gap: 2rem;
        align-items: center;

        & > img {
          width: 1rem;
        }
      }
    }
  }
}
